@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


body {
    margin: 10;
    font-family: 'Poppins';
    background-color: #f4f4f4; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    padding: 20px; 
    border-radius: 15px; 
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

/* General Styles */
body {
    margin: 0;
    font-family: 'Poppins';
    background-color: #f4f4f4; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    padding: 20px; 
    border-radius: 15px; 
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

/* Left Side Styles */
.left-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #2f84ff; /* Blue background for the left side */
    color: white; /* White text color */
}

.left-side p {
    max-width: 80%; /* Limit the width of the paragraph */
    text-align: center; /* Center the text */
    
}

/* Right Side Styles */
.right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff; /* White background for the right side */
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    width: 80%; /* Limit the width of the form */
}

form label {
    margin-bottom: 5px;
}

form .password-container {
    margin-bottom: 20px;
}

form input[type="text"], form input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 400px;
}

form input[type="submit"] {
    padding: 10px;
    background-color: #2f84ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #1a73e8;
}

.bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 0px;
    height: 40px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 5px;
    transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn26 {
    background-image: linear-gradient(
      to right,
      #25aae1,
      #4481eb,
      #04befe,
      #3f86ed
    );
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  }
